{% extends "base.html" %}
{% block content %}
<h1>Lista järjestelmän tunnistamista peleistä</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kehittäjä</th>
        <th>Lajityyppi</th>
        <th>Julkaisupäivä</th>
      </tr>
    </thead>
    <tbody>
    {% for game in games %}
      <tr>
        <td><a href="{{base_path}}/games/{{game.id}}/edit">{{game.name}}</a></td>
        <td>{{game.dev}}</td>
        <td>{{game.genre}}</td>
        <td>{{game.released}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}