{% extends "base.html" %}
{% block content %}
<h1>Lista järjestelmän tunnistamista peleistä</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kehittäjä</th>
        <th>Lajityyppi</th>
        <th>Julkaisupäivä</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Epäaito peli</td>
        <td>Kuvitteellinen Studio</td>
        <td>Pulma</td>
        <td>12.12.16</td>
      </tr>
      <tr>
        <td>Muukalaismarssi</td>
        <td>Pehmoneliö</td>
        <td>Roolipeli</td>
        <td>09.09.09</td>
      </tr>
    </tbody>
  </table>
{% endblock %}