{% extends "base.html" %}
{% block content %}
<h1>Käyttäjän %Käyttäjä% pelit</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kehittäjä</th>
        <th>Lajityyppi</th>
        <th>Julkaisupäivä</th>
        <th>Arvosana</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="{{base_path}}/game">Epäaito peli</a></td>
        <td>Kuvitteellinen Studio</td>
        <td>Pulma</td>
        <td>12.12.16</td>
        <td>6</td>
        <td>Läpäisty</td>
      </tr>
      <tr>
        <td><a href="{{base_path}}/game">Muukalaismarssi</a></td>
        <td>Pehmoneliö</td>
        <td>Roolipeli</td>
        <td>09.09.09</td>
        <td>NULL</td>
        <td>Kesken</td>
      </tr>
    </tbody>
  </table>
{% endblock %}