{% extends "base.html" %}
{% block content %}
  <h1>{{game.name}}</h1>
  <ul>
    <li>Kehittäjä: {{game.dev}}</li>
    <li>Lajityyppi: {{game.genre}}</li>
    <li>Julkaisupäivä: {{game.released}}</li>
    <li>Arvosana: 
    <select name="rating">
	    <option value="1">1</option>
	    <option value="2">2</option>
	    <option value="3">3</option>
	    <option value="4">4</option>
	    <option value="5">5</option>
	    </select>
  	</li>
    <li>Läpäisty: <input type="checkbox" name="completed"/></li>
  </ul>
{% endblock %}